<launch>
  <include file="/opt/ros/indigo/share/turtlebot_bringup/launch/minimal.launch" />
  <include file="/opt/ros/indigo/share/turtlebot_navigation/launch/amcl_demo.launch">
    <arg name="map_file" value="/home/kyuhas/catkin_ws/src/YuhasK/src/params/map.yaml" />
  </include>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="/src/params/voice_cmd.lm"/>
    <param name="dict" value="/src/params/voice_cmd.dic"/>
  </node>
  
  <node name="voice_cmd_vel" pkg="pocketsphinx" type="assign5.py" />

</launch>
